.copy-link-btn {
  height: 60px;
  width: 60px;
  border-radius: 30px;
  position: absolute;
  margin: 20px 0 0 20px;
  border: none;
  background: $white;
  z-index: 98;
  opacity: 0;
  cursor: pointer;
  @include transition(opacity .2s ease);
  @include box-shadow;
  &:active {
    background: tomato;
  }
}
