#img-wrapper {
  padding-top: 100px;
  overflow: hidden;
}

img {
  width: 25vw;
  height: 20vw;
  display: block;
  opacity: 1;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  &:hover {
    opacity: .6;
  }
}

.gif {
  float: left;
  overflow: hidden;
}

.hidden {
  display: none;
}
