#img-wrapper {
  padding-top: 100px;
  overflow: hidden;
}

img {
  width: 25vw;
  height: 20vw;
  display: block;
  opacity: 1;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.gif {
  float: left;
  overflow: hidden;
  &:hover{
    .copy-link-btn {
      opacity: 1;
    }
  }
}

.hidden {
  display: none;
}
